// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.conta-style {
	background-color: #8c92ac;
	opacity: 0.8;
	border-radius: 7px;
}

.select_t {
	width: 200px;
}

.btn-l {
	width: 100%;
}
